*.log.*
*.pyc
*.swp
*.sqlite3
*.mo
*.ini
*.log
*.rdb
*.bak
*.dat
*.dir
*.pid
*.idea
*.vscode
.coverage
/media/
/static/
envs/
env/
-rabbitmq-signing-key-public.asc
-katanainvest/settings/local.py
-settings/local.py

#rabbitmq-signing-key-public.asc
#boxinvest/settings/local.py
#settings/local.py

#*/migrations/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
#information/static/fondex/